
/*Initial formatting for general setup for all pages */
* {
  box-sizing: border-box;
}

body {
  background: url('../images/concrete.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 18px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 34px;
  color: #777;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1, h3, p {
  margin-bottom: 20px;
}

h1, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 20px;
}

h3 {
  font-size: 22px
}

p:last-child {
  margin-bottom: 0;
}

/* Header*/

#topnav {
  background: #fff;
  color: #fff;
  margin: 0 0 30px;
  border-bottom: 2px solid #ccc;
  z-index: 99;
  overflow: auto; 
  /*position: fixed;*/
  width: 100%;
}

#trademark {
  width: 300px;
  height: 90px;
  background: #4aaaa5;
  float: left;
  text-align: center;
  color: #fff;
  font-family: 'Georgia', Times New Roman, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 90px;
  text-decoration: none;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 15px;
  border-left: 1px solid #efefef;
  padding-left: 15px;
  display: inline-block;
  line-height: 18px;
}

nav a:first-child {
  border-left: 0 none;
}

/* Body */

#main-container {
  padding-top: 130px;
}
  
.main-section { 
  background: #fff;
  padding: 30px;
  margin: 0 0 40px 0px;
  width: 100%;
  max-width: 960px;
  border: 1px solid #ddd;
  display: block;
}

.image {
  width: 200px;
  height: auto;
  float: left;
  margin-top: 10px;
  margin-right: 25px;
}

/* Portfolio */

.project {
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
  position: relative;
  float: left;
}

.project:nth-child(even) {
  float: left;
}

.project:nth-child(odd) {
  float: right;
}

.project img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.project h3 {
  background: #4aaaa5;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  bottom: 20px;
  padding: 15px;
  width: 100%;
  margin-bottom: 0;
  border-bottom: 0;
  position: absolute;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Contact */

#contact-form ul {
  margin-bottom: 20px;
  list-style: none;
}

#contact-form li {
  margin-bottom: 10px
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 14px;
}

textarea {
  height: 200px;
}
 input[type=submit] {
  background: #4aaaa5;
  border: 0 none;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  cursor: default;
  margin-left: 40px;
 }

/* Footer */

footer {
  background: #666;
  color:  #fff;
  padding: 30px 0;
  border-top: 8px solid #4aaaa5;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  clear: both;
}